<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.min.css">
    <title>{{main_title}}</title>
  </head>

  <body>
    <div class="container">
      {{> header}}

      {{{body}}}
    </div>
  </body>
</html>